# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
eggs/
*.egg

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Data
data/raw/*
data/processed/*
vector_db/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!vector_db/.gitkeep

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
!data/raw/.gitkeep
!data/vectorstore/.gitkeep
